# Next.js / Node dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
vendor/

# testing
/coverage

# next.js build artifacts
/.next/
/out/
/build

# WordPress artifacts not tracked
*.log
*.zip
wp-admin/
wp-includes/
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/ai1wm-backups/

# misc
.DS_Store
Thumbs.db
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# environment
wp-config.php
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
